@import '../styles/shared/fonts';

// pages
@import '../styles/shared/index';

// components
@import '../styles/shared/header';


html, body {
  height:100%;
  width:100%;
  font-family : 'Stylish-Regular';
}

.absolute {
  position: absolute;
}

.base-page {
    padding-top: 150px;
    color: wheat;

}